* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body {
    background-color: rgba(88, 20, 121, 1);
}

  /*HEADER*/
  
header{
    background-color: #fff;
}

li {
    list-style: none;
}

header a {
    color: rgba(88, 20, 121, 1);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    position: relative;
    z-index: 1;
}

.logo {
    font-size: 2rem;
    font-weight:800;
    color: rgba(88, 20, 121, 1);
    font-family: sans-serif;
}

.nav-menu{
    display: flex;
    align-items: center;
    display: flex;
    gap: 40px;
}

.nav-links {
    transition: 0.4s ease;
}

.nav-links:hover {
    color: red;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: rgba(88, 20, 121, 1);
    transition: all 0.3s ease-in-out;
}

@media (max-width:768px){
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg)
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #fff;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-items{
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/*MAIN*/

.first-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.first-section h1 {
    font-size: 60px;
    margin-left: 16px;
    color: yellow;

    position: absolute;
    right: 80px;
    z-index: 0;
}

.first-section span {
    background: url(./assets/theholies.jpg) center/cover;
    background-attachment: fixed;
    width: 50%;
    height: 300px;
    margin: 0;
}

@media screen and (min-width:600px) {
    .first-section h1 {
        font-size: 80px;
    }
    
}

@media screen and (min-width:1130px){
    .first-section h1 {
        font-size: 100px;
    }
    
}

.hidden {
    visibility: hidden;
    transform: translateX(-100%);
    transition: 1.5s ;
    
}

.show {
    visibility: initial;
    transform: translateX(0);
    transition: 1.5s ;
}

.divider  h3{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: rgba(88, 20, 121, 1);
}

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.services div {
    font-size: 35px;
    margin-left: 80px;
    color: yellow;
    position: absolute;
    z-index: 0;
    right: 10px;
}

.services div p {
    font-size: 20px;
    color: white;
}


.services span {
    background: url(./assets/service1.jpg) center/cover;
    background-attachment: fixed;
    width: 50%;
    height: 600px;
}

@media screen and (min-width:600px) {
    .services div {
        font-size: 40px;
    }
    
}

@media screen and (min-width:1130px){
    .services div {
        font-size: 50px;
        position: relative;
    }
    
}

.GC {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.GC h3 {
    color: yellow;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

.GC h4 {
    color: white;
    text-align: center;
    margin: 15px 10px;
}

.GC a {
    color: yellow;
    text-decoration: none;
}
.GC span {
    width: 100%;
    height: 300px;
    background: url(./assets/gruposdeconexao.jpg) center/cover;
    background-attachment: fixed;
}

.GPS {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.GPS div {
    position: absolute;
    width: 340px;
    left: 20px;
    z-index: 0;
}

.GPS div h2 {
    color: yellow;
    font-size: 30px;
    margin-bottom: 10px;
}

.GPS p {
    font-size: 20px;
    color: white;
}
.GPS a {
    text-decoration: none;
    color: yellow;
}
.GPS span {
    background: url(./assets/comunicaçaojvv2.jpg) center/cover;
    background-attachment: fixed;
    width: 60%;
    height: 600px;
    
}





